#welcome {
  position: absolute;
  z-index: 9;
  background-color: #0D1B2A;;
  text-align: center;
  border: 2px solid #4CC9F0;
  width: 250px;
  border-radius: 16px ; 
  box-shadow: 0 0 20px rgba(76, 201, 240, 0.4);
}

#welcomeheader {
  padding: 0.1px;
  cursor: move;
  z-index: 0;
  background-color: #000000;
  color: #fff;
}

.closebutton {
width: 36px;
height: 16px; 
cursor: pointer; 
background-color: #EC6B5E; 
border-radius: 16px; 
border: solid 1px rgba(0, 0, 0, 0.25); 
margin-left: 6px
}

.openbutton {
width: 36px; 
height: 16px; 
cursor: pointer;
background-color: #5eec6c; 
border-radius: 16px; 
border: solid 1px rgba(0, 0, 0, 0.25); 
margin-left: 6px;
}

.selected {
  background-color: rgba(76, 201, 240, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(76, 201, 240, 0.6);
}


#notesheader {
padding: 1px;
cursor: move;
z-index: 10;
background-color: #000000;
color: #fff;
}
